:root {
  --text-color: #011f3a;
  --text-description-lightcolor: #a1a1a1;
  --text-description-darkcolor: #777777;
  --background-main: #eeeeee;
  --background-footer: #f2f3f4;
  --text-footer: #3d5675;
  --white-color: #fff;
  --dark-blue: #3d5675;
  --background-bottom: #f2f2f2;
  --background-company: #e5e5e5;
  --background-hero: #f2ae4d;
  --background-create-box: #72bda3;
  --background-advantage: #ffca3a;
}
