<section class="create-box">
    <div class="create-box_container container">
        <h2 class="create-box_title">Fast and easy custom boxes your customers will love</h2>

        <ul class="create-box_list">
            <li class="create-box_list_item">
                <img src="./images/png/convert.png" alt="convert">
                <div class="create-box_description">
                    <p class="create-box_description_title">You Order</p>
                    <p class="create-box_description_text">Design and order boxes in a few clicks.</p>
                </div>
            </li>
            <li class="create-box_list_item">
                <img src="./images/png/scheme-1.png" alt="scheme-1">
                <div class="create-box_description">
                    <p class="create-box_description_title">We Proof</p>
                    <p class="create-box_description_text">Approve your designs before production.</p>
                </div>
            </li>
            <li class="create-box_list_item">
                <img src="./images/png/post.png" alt="post">
                <div class="create-box_description">
                    <p class="create-box_description_title">We Print & Ship</p>
                    <p class="create-box_description_text">Your order gets printed and shipped with tracking.</p>
                </div>
            </li>
        </ul>

        <button class="create-box_btn dark_btn">Start your design</button>
    </div>
</section>