<header>
    <div class="header_block">
        <nav class="nav_container container">
            <a href="">
                <img class="logo" src="./images/svg/logo.svg" alt="logo">
            </a>

            <ul class="nav_list">
                <li class="nav_item">
                    <a href="#">Start your design</a>
                </li>
                <li class="nav_item">
                    <a href="#">All products</a>
                </li>
                <li class="nav_item">
                    <a href="#">Inspiration</a>
                </li>
                <li class="nav_item">
                    <a href="#">About</a>
                </li>
            </ul>

            <ul class="account_list">
                <li class="account_item"><a href="#">Account</a></li>
                <li class="account_item">
                    <a href="#">
                        <img src="./images/svg/basket.svg" alt="basket">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>