<section>
    <div class="hero_block">
        <div class="hero_container container">
            <div class="hero_description">
                <h1 class="hero_title">Fast and easy custom boxes your customers will love</h1>
                <p class="hero_text">Fastest turnaround. Best prices instantly. Dieline design help available.</p>
                <button class="hero_btn dark_btn">Start your design</button>
            </div>
            <div>
                <img src="./images/png/books.png" alt="books">
            </div>
        </div>
    </div>
    <div class="hero_company">
        <ul class="hero_company_list container">
            <li class="hero_company_item">
                <img class="hero_company_item-img" src="./images/svg/shopify-comp.svg" alt="shopify">
                <p>Shopify <br /> Integrated</p>
            </li>
            <li class="hero_company_item">
                <img class="hero_company_item-img" src="./images/svg/circle-comp.svg" alt="amazon">
                <p>Amazon <br /> Certified</p>
            </li>
            <li class="hero_company_item">
                <img class="hero_company_item-img" src="./images/svg/fsc-comp.svg" alt="eco-friendly">
                <p>Eco-<br />Friendly</p>
            </li>
        </ul>
    </div>
</section>