<section class="love">
    <div class="love_container container">
        <h2 class="love_title">Merchants love Arka</h2>
        <div class="reviews_block">
            <ul class="love_reiting_list">
                <li class="love_raiting_item">
                    <img src="./images/png/google.png" alt="google">
                </li>
                <li class="love_raiting_item">
                    <img src="./images/png/shopify.png" alt="shopify">
                </li>
            </ul>

            <div>
                <ul class="reviews_list">
                    <li class="reviews_item">
                        <div class="reviews_item_pictures">
                            <img class="reviews_item_pictures-img" src="./images/png/bag.png" alt="bag">
                            <img class="reviews_item_pictures-img" src="./images/png/ballons.png" alt="ballons">
                        </div>
                        <div class="reviews_item_comment">
                            <h3 class="reviews_item_comment-text">“Arka’s team is super fast, knowledgeable, and easy to
                                work with - highly recommended!”
                            </h3>
                            <div class="reviews_item_comment_user">
                                <img class="reviews_item_user-avatar" src="./images/png/avatar-1.png" alt="avatar-1">
                                <div class="reviews_item_user_descriptions">
                                    <p class="reviews_item_user-name">Jesse</p>
                                    <p class="reviews_item_user-text">Subscription Catalyst</p>
                                </div>
                                <button class="rewiews_item_btn light_btn">Their story</button>
                            </div>
                        </div>
                    </li>
                    <li class="reviews_item">
                        <div class="reviews_item_pictures">
                            <img class="reviews_item_pictures-img" src="./images/png/thre-box.png" alt="thre-box">
                            <img class="reviews_item_pictures-img" src="./images/png/noun.png" alt="noun">
                        </div>
                        <div class="reviews_item_comment">
                            <h3 class="reviews_item_comment-text">“I really like Arka because it’s a really nice box,
                                I’ve gotten a lot of compliments
                                on&nbsp;it.”
                            </h3>
                            <div class="reviews_item_comment_user">
                                <img class="reviews_item_user-avatar" src="./images/png/avatar-2.png" alt="avatar-2">
                                <div class="reviews_item_user_descriptions">
                                    <p class="reviews_item_user-name">Leslie</p>
                                    <p class="reviews_item_user-text">Burgundy Fox</p>
                                </div>
                                <button class="rewiews_item_btn light_btn">Their story</button>
                            </div>
                        </div>
                    </li>
                    <li class="reviews_item">
                        <div class="reviews_item_pictures">
                            <img class="reviews_item_pictures-img" src="./images/png/shoes.png" alt="thre-box">
                            <img class="reviews_item_pictures-img" src="./images/png/heart.png" alt="noun">
                        </div>
                        <div class="reviews_item_comment">
                            <h3 class="reviews_item_comment-text">“I love how easily it was to customize the box, and
                                you guys were more affordable.”</h3>
                            <div class="reviews_item_comment_user">
                                <img class="reviews_item_user-avatar" src="./images/png/avatar-3.png" alt="avatar-3">
                                <div class="reviews_item_user_descriptions">
                                    <p class="reviews_item_user-name">Anthony</p>
                                    <p class="reviews_item_user-text">Burgundy Fox</p>
                                </div>
                                <button class="rewiews_item_btn light_btn">Their story</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="love_buttons_block">
            <h2 class="love_buttons_title">Let`s get to it</h2>
            <button class="love_buttons dark_btn">Start your design</button>
            <button class="love_buttons light_btn">Browse all products</button>
        </div>
    </div>
</section>