<section class="products">
    <div class="container">
        <div class="products_header">
            <h2>Products you can customize</h2>
            <button class="products_btn dark_btn">Browse all products</button>
        </div>
        <ul class="products_list">
            <li class="products_list_item">
                <img class="prodicts_item-img" src="./images/png/lokcers.png" alt="Custom Carton Boxes">
                <div class="products_item_description">
                    <p class="products_description-name">Custom Carton Boxes</p>
                    <div class="products_description_text-block">
                        <p class="products_description_text">Create a clean brand presentation with this custom carton
                            box.</p>
                        <div class="products_description_price">
                            <p>Starting at:</p>
                            <p>$10.44/unit</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="products_list_item">
                <img class="prodicts_item-img" src="./images/png/box.png" alt="Custom Boxes">
                <div class="products_item_description">
                    <p class="products_description-name">Custom Boxes</p>
                    <div class="products_description_text-block">
                        <p class="products_description_text">Astylish and strong corrugated cardboard box.</p>
                    </div>
                </div>
            </li>
            <li class="products_list_item">
                <img class="prodicts_item-img" src="./images/png/pollow.png" alt="Custom Poly Mailers">
                <div class="products_item_description">
                    <p class="products_description-name">Custom Poly Mailers</p>
                    <div class="products_description_text-block">
                        <p class="products_description_text">A fully custom high quality self sealing poly mailer.</p>
                    </div>
                </div>
            </li>
            <li class="products_list_item">
                <img class="prodicts_item-img" src="./images/png/tape.png" alt="Custom Tape">
                <div class="products_item_description">
                    <p class="products_description-name">Custom Carton Boxes</p>
                    <div class="products_description_text-block">
                        <p class="products_description_text">High quality custom tape to seal your shipping boxes during
                            delivery.</p>
                        <div class="products_description_price">
                            <p>Starting at:</p>
                            <p>$12.16/unit</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="products_list_item">
                <img class="prodicts_item-img" src="./images/png/coaster.png" alt="Custom Stickers">
                <div class="products_item_description">
                    <p class="products_description-name">Custom Stickers</p>
                    <div class="products_description_text-block">
                        <p class="products_description_text">Add personality to your packages with custom stickers.</p>
                        <div class="products_description_price">
                            <p>Starting at:</p>
                            <p>$0.41/unit</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="products_list_item">
                <img class="prodicts_item-img" src="./images/png/book.png" alt="Custom Tissue Paper">
                <div class="products_item_description">
                    <p class="products_description-name">Custom Tissue Paper</p>
                    <div class="products_description_text-block">
                        <p class="products_description_text">The perfect addition to branding your package.</p>
                        <div class="products_description_price">
                            <p>Starting at:</p>
                            <p>$6.54/unit</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="products_footer">
            <p>Need unbranded stock items?</p>
            <button class="products_footer_btn light_btn">Shop stock</button>
        </div>
    </div>
</section>