.love_container {
  text-align: center;
}

.love_title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.18;
  padding-bottom: 20px;

  @media screen and(min-width:768px) {
    font-size: 32;
    padding-bottom: 60px;
  }
}

.reviews_block {
  background-color: var(--white-color);
}

.love_reiting_list {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-around;

  @media screen and(min-width:768px) {
    padding: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and(min-width:1200px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.love_raiting_item {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    border-right: 1px solid var(--background-main);
  }
}

.reviews_item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  &:nth-child(2n) {
    flex-direction: row-reverse;
  }

  @media screen and(min-width:768px) {
    display: flex;
  }
}

.reviews_item_pictures {
  display: flex;
}

.reviews_item_pictures-img {
  width: 50%;
}

.reviews_item_comment {
  max-width: 400px;
  text-align: start;

  @media screen and(min-width:768px) and (max-width: 1199px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and(min-width:1200px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.reviews_item_comment-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  padding-bottom: 12px;
  letter-spacing: 0.36px;
}

.reviews_item_comment_user {
  display: flex;
  align-items: center;
}

.reviews_item_user-avatar {
  padding-right: 20px;
}

.reviews_item_user_descriptions {
  padding-right: 20px;
}

.reviews_item_user-name {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.36px;
}

.reviews_item_user-text {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.36px;
  color: var(--text-description-lightcolor);
}

.rewiews_item_btn {
  width: 160px;
  height: 44px;
  background-color: #f2f2f2;
}

.love_buttons_block {
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and(min-width:768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and(min-width:1200px) {
    padding-top: 120px;
    padding-bottom: 140px;
  }
}
.love_buttons_title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  padding-bottom: 20px;

  @media screen and(min-width:768px) {
    font-size: 31px;
    padding-bottom: 55px;
  }
}
.love_buttons {
  width: 220px;
  height: 44px;

  @media screen and(min-width:458px) {
    &:not(:last-child) {
      margin-right: 11px;
    }
  }
  @media screen and(max-width:450px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
