.products_header {
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;

  @media screen and(min-width:768px) {
    justify-content: space-around;
  }

  @media screen and(min-width:1200px) {
    font-size: 32px;
    padding-top: 58px;
    padding-bottom: 64px;
    justify-content: space-between;
  }
}

.products_btn {
  width: 247px;
  height: 44px;
}

.products_list {
  background-color: var(--white-color);
  @media screen and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.products_list_item {
  max-width: 400px;
  max-height: 432px;
  border: 1px solid var(--background-main);
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    width: 384px;
  }

  @media screen and (min-width: 1200px) {
    width: 400px;
  }
}

.products_item_description {
  padding-top: 24px;
  padding-left: 25px;
  padding-right: 25px;
}

.products_description-name {
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.36px;
  padding-bottom: 8px;
}

.products_description_text-block {
  color: var(--text-description-darkcolor);
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.6px;
}

.products_description_text {
  max-width: 200px;
}

.products_description_price {
  color: var(--text-description-lightcolor);
}

.products_footer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and(max-width:480px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and(min-width:1200px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.products_footer_btn {
  margin-left: 16px;
  width: 158px;
  height: 44px;
}
